{# ===================================================================================================
 * File name   : import.tpl
 * Created by  : D.McEnhill (davidmcenhill@gmail.com)
 * Created on  : June 20, 2012
 * Description : Contains budget import file format.
 * Comment     : A table would have been more suitable.
 * 
 #}
{# src/Btg/MyBudgetBundle/Resources/views/Import/import.html.twig #}
{% extends 'BtgMyBudgetBundle::layout.html.twig' %}
{% form_theme form 'BtgMyBudgetBundle:Form:fields.html.twig' %}


{% block work_area %} {# this will be inserted into block work area in the the layout template. #}
<div>
   <p>{{ debug_msg }}</p>
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}
   <h2>Import a Bank Statement File</h2>
   <form id="importFormLayout" action="{{ path('BtgMyBudgetBundle_import') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {{ form_errors(form) }}
        {{ form_row(form.file, { 'label' : 'Filename', 'attr' : { 'class' : 'filename' }}) }}
        {# form_row(form.file_type, { 'label' : 'File type', 'attr' : { 'class' : 'filetype' }}) #}
        {{ form_row(form.comment, { 'label' : 'Comment', 'attr' : { 'class' : 'comment' }}) }}
        {{ form_rest(form) }}
        <div class="button1"><input type="submit" name="Import" value="Import" /></div>
   </form>
   <div id ="importHistoryLayout">
      {% if imports_ext %}
         <h2>Import History</h2>
         <div class='col1 date'><h3>Import Date</h3></div>
         <div class='coln an'><h3>Filename</h3></div>
         <div class='coln date'><h3>First Date</h3></div>
         <div class='coln date'><h3>Last Date</h3></div>
         <div class='coln nr'><h3>New Trans-actions</h3></div>
         <div class='coln nr'><h3>Author-isations</h3></div>
         <div class='coln nr'><h3>Finalised Author-isations</h3></div>
         <div class='coln nr'><h3>Old Trans-actions</h3></div>
         <div class='coln nr'><h3>Number of Unprocessed</h3></div>
         <div class='coln an'><h3>Comment</h3></div>
         {{ form_errors(form) }}
         <ul>
            {% set row_nr = 1 %} 
            {% for import_ext in imports_ext %}
					<li class={{ row_nr is even ? 'even' : 'odd'}}>
						<div class="col1 date">{{ import_ext.date_imported|date("d/m/Y") }}</div> 
						<div class="coln an">{{ import_ext.filename }}</div>
						<div class="coln date">{{ import_ext.date_start|date("d/m/Y") }}</div>
						<div class="coln date">{{ import_ext.date_end|date("d/m/Y") }}</div>
						<div class="coln nr">{{ import_ext.nr_accepted }}</div>
						<div class="coln nr">{{ import_ext.nr_authorisations }}</div>
						<div class="coln nr">{{ import_ext.nr_auth_finalisations }}</div>
						<div class="coln nr">{{ import_ext.nr_duplicates }}</div>
						<div class="coln nr">{{ import_ext.nr_not_imported }}</div>
						<div class="coln an">{{ import_ext.comment }}</div>
					</li>
	            {% set row_nr = row_nr + 1 %} 
            {% endfor %}
         </ul>
      {% else %}
         No files have been imported yet.
      {% endif %}
      
   </div>
</div>
{% endblock %}
